
{{person.userId}}
<br>
{{person.id}}



<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio" (click)="automaticTableSelected()">automatic
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio" (click)="manualTableSelected()">manual
  </label>
</div>


<app-automatic-table *ngIf="isAutomaticTableSelected" [person]="person"></app-automatic-table>
<app-manual-table *ngIf="!isAutomaticTableSelected" [person]="person"></app-manual-table>